{
	bDebugSprite: false
	bMultipleInstances: false
	bWarningMultipleInstances: false
	sRendererDevice: "OpenGL 2.x"
	sWorkingDirectory: "./"
	sTitle: "QuakeRL"
	sDescription: "7drl"
	sPublisherName: "Seed Framework"
	iResolutionWidth: 1024
	iResolutionHeight: 768
	iFrameRate: 60
	bFullScreen: false
}
